@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaNeue.dfont');
	font-family: 'Agency_FB_Family';
	src: url('../fonts/AgencyFBRegExt');
	font-family: 'Heydings';
	src: url('../fonts/heydings_icons.ttf');
}

/* ////////GLOBAL////////*/

* {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


img {
	width: 100%;
}	


body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: rgba(226,226,218,1);
}


#header {
	display: block;
  	position: relative;
  	float: left;
  	top: 40px;
	width: 960px;
	height: 130px;
}


#footer {
	position: relative;
	float: left;
	margin: 0 auto;
	width: 960px;
	height: 48px;
	background-color: rgba(115,115,115,1);
	box-shadow: 0px 0px 50px #111111;
	border-top: 1px solid #eee;
}


#footer p {
	font: .8em Arial, Helvetica, sans-serif;
	color: rgba(219,220,209,1);
	text-align: right;
	padding: 5px 30px;
	/*color: rgba(100,169,190,1);
*/
}



.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}


a 	{
	text-decoration: none;
}


h1 {
  	font: 3.5em 'HelveticaNeue-UltraLight', sans-serif;
  	-webkit-font-smoothing: antialiased;
	text-align: center;
	padding: 0;
	margin: 0;
	color: rgba(91,159,180,1);
	text-shadow: 0px 0px 15px white;
}

h1 span {
  	font: 1em 'HelveticaNeue-Light', sans-serif;
  	-webkit-font-smoothing: antialiased;
	color: rgba(200,200,192,1);
	font-style: italic;
}

h2 {
	display: inline-block;
	position: relative;
  	width: 100%;
  	height: 20px;
  	font: .9em 'Roboto', Helvetica, sans-serif;
  	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-top: 5px; 
	color: rgba(37,119,188,1);
	text-shadow: 0px 0px 30px white;
}

h3 	{
	font: 1em 'HelveticaNeue-Bold', sans-serif-bold;
  	-webkit-font-smoothing: antialiased;
	text-align: left;
	padding: 0;
	margin: 0;
	color: rgba(91,159,180,1);
	padding-top: 10px;
}

h4 	{
	font: .8em 'HelveticaNeue-Bold', sans-serif;
  	-webkit-font-smoothing: antialiased;
	text-align: left;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: rgba(91,159,180,1);
	padding-top: 10px;
	border-bottom: 1px dotted rgba(229,231,230,1);
}

h5 	{
	font: .8em 'HelveticaNeue-Bold', sans-serif;
  	-webkit-font-smoothing: antialiased;
	text-align: left;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: rgba(255,81,29,.8);
	padding-top: 10px;
	border-bottom: 1px dotted rgba(229,231,230,1);
}


/* ////////  HOME  ////////*/

.home-wrapper {
	position: relative; 
/*	display: block;
	clear: both;*/
	margin: 0 auto;
	width: 960px;
	height: 731px;
	background: url(../images/synthetorium_invert.jpg) center;
  	background-size: 100%;
  	box-shadow: 0px 0px 50px #111111;

} 


#home-image {
/*	display: block;
	clear: both;*/
/*	position: relative;
*/	float: left;
	width: 960px;
	height: 275px;
	margin: 0;
}

#window {
/*	position: relative;
*/	margin: 20px auto 0;
	width: 465px;	
	height: 255px;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 20px white;
}

#home-nav	{
	width: 100%;
	height: 327px;
	display: block;
	float: left;
	top: 400px;
	left: 0px;
}

#home-nav span {
	font: 3em Heydings;
  	-webkit-font-smoothing: antialiased;
	color: rgba(200,200,192,1); /*white*/
	/*	color: rgba(91,159,180,1); /*blue*/
	/*	color: rgba(253,120,8,1); /*orange*/	
	text-decoration: none;
}


/* //////// CROSSFADE FOR HOMEPAGE IMAGES //////// */

#cycler	{ 
/*	position: relative;
*/}

#cycler img {
	position:absolute;
	z-index:0;
	width: 465px;	
	height: 255px;
	border-radius: 10px;
}



/* //////// COLORCYCLE //////// */

a.colorcycle {
    position: relative;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    box-shadow: 0px 0px 50px white;
}

a.colorcycle img {
	display: none;
	width: 105%;
	border: 1px solid #aaa;
	border-radius: 50%;
	box-shadow: 0px 0px 50px white;

}




/* HOMEPAGE COLORCYCLE CSS */

#synths	{
    top: 5.4%;
    left: 10.6%;
}

#synthsbox	{
	position: absolute;
	top: 0;
    left: 0;
	width: 100px;
	height: 100px;
}

#sounds	{
    top: 26.3%;
    left: 29.3%;
}

#soundsbox	{
	position: absolute;
	top: 0;
    left: 0;
	width: 100px;
	height: 100px;
}

#video	{
    top: 15.3%;
    left: 58.8%;
}

#videobox	{
	position: absolute;
	top: 0;
    left: 0;
	width: 100px;
	height: 100px;
}

#resources	{
    top: 44%;
    left: 67.3%;
}

#resourcesbox	{
	position: absolute;
	top: 0;
    left: 0;
	width: 100px;
	height: 100px;
}

#contact	{
    top: 5%;
    left: 74.2%;
}

#contactbox	{
	position: absolute;
	top: 0;
    left: 0;
	width: 100px;
	height: 100px;
}
/*#player1, #player2, #player3, #player4, #player5, #player6 {
/*	visibility: hidden;
*/


audio {
	padding-left: 5px;
	padding-top: 40px;
	width: 100%;
}


/* //////// SYNTH PAGE //////// */

#synth-wrapper {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 960px;
	height: 965px;
	background: url(../images/plain_box_960-960.jpg) center repeat-y;
  	background-size: 100%;
  	box-shadow: 0px 0px 50px #111111;
} 

.col-wrapper {
	display: block;
	clear: both;
	position: relative;
	width: 880px;
	height: 420px;
	margin: 0 auto;
	padding-top: 30px;
}

.col	{
  	display: inline-block;
	float: left;
	width: 168px;
	height: 380px;
	margin-left: 10px;
	border-left: 1px solid white;
  	padding-left: 10px;
/*	background-color: rgba(64,64,64,.2);
*/  	font: .9em 'HelveticaNeue-Light', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	line-height: 1.4em;
  	color: rgba(229,231,230,1);
}

.col-first {
  	display: inline-block;
	float: left;
	width: 158px;
	height: 380px;
/*	background-color: rgba(64,64,64,.2);
*/  	font: .9em 'HelveticaNeue-Light', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	line-height: 1.4em;
  	color: rgba(229,231,230,1);
 }

.col img, .col-first img {
	border: 1px solid white;
	border-radius: 7px;
}

.col-wrapper span {
	background: rgba(255,81,29,.8);
	float: right;
	border: 1px solid black;
	border-radius: 5px;

}
.col-wrapper span a {
	font: .8em 'HelveticaNeue-Bold', sans-serif;
	padding-left: 5px;
	padding-right: 5px;
  	color: rgba(229,231,230,1);
}


/* //////// SYNTHS //////// */

.model-wrapper {
	display: block;
	clear: both;
	position: relative;
	width: 880px;
	height: 800px;
	margin: 0 auto;
	padding-top: 30px;
}

.three-col-left {
  	display: inline-block;
	float: left;
	width: 430px;
	height: 800px;
	padding-left: 10px;
	padding-right: 20px;
/*	background-color: rgba(64,64,64,.2);
*/  	font: .9em 'HelveticaNeue-Light', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	line-height: 1.5em;
  	color: rgba(229,231,230,1);
 }

.three-col-right {
  	display: inline-block;
	float: left;
	width: 430px;
	height: 800px;
	padding-top: 10px;
	padding-left: 20px;	
/*	background-color: rgba(64,64,64,.2);
*/  	font: .9em 'HelveticaNeue-Light', sans-serif;
  	-webkit-font-smoothing: antialiased;
  	line-height: 1.5em;
  	color: rgba(229,231,230,1);
 }


table {
  	position: relative;
    display: inline;
    float: left;
    width: 430px;
    margin: 10px 0;
    padding-bottom: 20px;
/*    border-collapse: collapse;
*/}

tr { 
	border: dotted;
	border-width: 1px 0;
	padding-top: 10px;
	line-height: 1.5em;
}

td span {
	font: 1em 'HelveticaNeue-CondensedBold', sans-serif;
  	-webkit-font-smoothing: antialiased;;
}

#synth-page-image 	{
	position: relative;
	display: inline;
	float: left;
	width: 430px;
	height: 250px;
}

#synth-page-image img	{
	width: 100%;
	border-radius: 10px;
}

#synth-page-audio	{	
	position: relative;
	display: inline;
	float: left;
	width: 430px;
	height: 600px;
	margin-top: 10px;
	padding-left: 10px;

}

}