@font-face {
	font-family: 'Helvetica';
	src: url('../fonts/HelveticaNeue.dfont');
	font-family: 'Agency_FB_Family';
	src: url('../fonts/AgencyFBRegExt');
}

* {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}*/

img {
	width: 100%;
}	

#wallpaper {
	display: block;
	position: relative;
	width: 100%;
	height: 780px;
	background: url(../images/bluebackground.jpg) no-repeat;
}

#wrapper {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 960px;
	height: 731px;
	background: url(../images/synthetorium_white.jpg) center;
  	background-size: 100%;

} 

#header {
	display: block;
  	position: relative;
  	float: left;
  	top: 40px;
	width: 960px;
	height: 130px;
}

h1 {
  	font: 3.5em 'HelveticaNeue-UltraLight', sans-serif;
  	-webkit-font-smoothing: antialiased;
	text-align: center;
	padding: 0;
	margin: 0;
}


#home-image {
	display: block;
	clear: both;
	position: relative;
	float: left;
	width: 960px;
	height: 275px;
	background: url(../images/korg_ps3100_front.jpg) center no-repeat;
	background-size: 50%;
	margin: 0;
}

#footer {
	display: block;
	position: absolute;
	margin: 0 auto;
	width: 960px;
	height: 48px;
	background-color: #aaa;
	top: 732px;
	border: 4px groove white;
}

#footer p {
	font: .75em Arial, Helvetica, sans-serif;
	color: white;
	text-align: right;
	padding: 5px 30px;
}

#nav	{
	width: 100%;
	height: 50%;
	display: block;
	float: left;
	top: 400px;
	left: 0px;
/*	border: 2px solid black;
*/
}

h2 {
	display: inline-block;
	position: relative;
  	width: 100%;
  	height: 20px;
  	font: .75em 'Agency_FB_Family', Helvetica, sans-serif;
  	text-align: center;
	margin-top: 0px; 
}

a {
    position: relative;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #ccc;
}

#home	{
    top: 5.4%;
    left: 10.6%;
}

#synths	{
    top: 22.9%;
    left: 29.3%;
}

#sounds	{
    top: 14.8%;
    left: 59%;
}

#video	{
    top: 39.7%;
    left: 67.3%;
}

#contact	{
    top: 5%;
    left: 74.2%;
}

#player1 {
	visibility: hidden;
}